<!DOCTYPE html>
<html>
  <head>
    <title><%= 电商评论数据挖掘系统 %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>

  </body>
</html>
